node_modules
.next
out
build
dist
.env
.env.local
.env.production
.pnpm-debug.log
.DS_Store
*.db
*.db-journal

# Prisma
packages/database/generated/
/packages/database/node_modules/

# Turbo & Tooling
.turbo/
.vercel
.cache/

