@import "tailwindcss";

@theme {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0 0);
  --color-border: oklch(0.922 0 0);
}

:root {
  --background: 255 255 255;
  --foreground: 0 0 0;
}

@layer base {
  body {
    background: white;
    color: black;
  }
}
