@import "tailwindcss";

@theme {
  --color-background: white;
  --color-foreground: black;
}

:root {
  --background: 255 255 255;
  --foreground: 0 0 0;
}

@layer base {
  body {
    background-color: white;
    color: black;
  }
}
