[variables]
    NIXPACKS_NODE_VERSION = "20"

[phases.setup]
    nixPkgs = ["nodejs_20"]

[phases.build]
    cmds = [
        "npm install --prefix backend",
        "npx prisma generate --schema=backend/prisma/schema.prisma",
        "npm run build --prefix backend"
    ]

[start]
    cmd = "npm start --prefix backend"
