[variables]
    NIXPACKS_NODE_VERSION = "20"

[phases.setup]
    nixPkgs = ["nodejs_20"]

[phases.build]
    cmds = [
        "npm install",
        "npx prisma generate --schema=./prisma/schema.prisma || npx prisma generate --schema=./backend/prisma/schema.prisma",
        "npm run build"
    ]
