[variables]
    NIXPACKS_NODE_VERSION = "20"
    PRISMA_SCHEMA_PATH = "prisma/schema.prisma"

[phases.setup]
    nixPkgs = ["nodePackages.npm", "nodejs_20"]

[phases.build]
    cmds = ["npm install", "npx prisma generate --schema=./prisma/schema.prisma", "npm run build"]
